@import './variables.scss';

.heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.25em;

    h6 {
        font-weight: 700;
        font-size: 1em;
    }

    h1 {
        font-weight: 900;
        font-size: 2.875em;
    }
}

.course_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 120px;
}